<p style="color: green"><%= notice %></p>

<h1>Emails</h1>

<%= render 'form', email: @email %>

<div class="row">
  <div class="col-6">
    <%= render @emails %>
  </div>
  <div class="col-6" id="email-content">
    <!-- Le contenu de l'email sera chargé ici -->
  </div>
</div>
